LOKI_CONFIG_PATH=/home/example/loki-stack/loki/loki-config.yml
PROMTAIL_CONFIG_PATH=/home/example/loki-stack/promtail/promtail-config.yml
GRAFANA_DASHBOARDS_PATH=/home/example/loki-stack/grafana/dashboards
